// gt colors
	$techgold: rgb(179, 163, 105);
	$blue: rgb(0, 48, 87);
	$blue80: rgba(0, 48, 87, .8);
	$linkblue: rgb(0, 79, 159);
	$linkhoverblue: rgb(24, 121, 219);
	$buzzgold: rgb(234, 170, 0);
	$buzzgold60: rgba(234, 170, 0, .6);
	$darkgray: rgb(84, 84, 84);

// ui colors
	$white: rgb(255, 255, 255);
	$fadewhite: rgb(246, 246, 246);
	$offwhite: rgb(236, 236, 236);  // this is the body bg color for default
	$lgray: rgb(211, 211, 211);
	$gray: rgb(145, 145, 145);
	$mgray: rgb(39, 39, 39);
	$dgray: rgb(22, 22, 22);  // this is the body bg color for darkmode
	$black: rgb(0, 0, 0);

// transparencies
	// white
		$whiteTransparent60: rgba(255, 255, 255, 0.6);
		$whiteTransparent40: rgba(255, 255, 255, 0.4);
		$whiteTransparent10: rgba(255, 255, 255, 0.1);
		$whiteTransparent2: rgba(255, 255, 255, 0.02);
	// dgray
		$dgrayTransparent60: rgba(22, 22, 22, 0.6);
		$dgrayTransparent10: rgba(22, 22, 22, 0.1);
	// black
		$blackTransparent60: rgba(0, 0, 0, 0.6);
		$blackTransparent10: rgba(0, 0, 0, 0.1);
	// $offwhite
		$offwhiteTransparent60: rgba(236, 236, 236, 0.6);  // this is the body bg color for default
	// gray
		$lgrayTransparent30: rgba(211, 211, 211, .3);


body{
	$bg: $offwhite;
	background: $bg;
&.nick{
        $gtblueGradient: linear-gradient(153deg, rgba(36,122,193,1) 0%, rgba(0,38,58,1) 100%);;
        background: $gtblueGradient;
        color: $white!important;
}
&.darkmode{
	$bg: $offwhite;
	background: $bg;
	color: $white!important;
	// .box-list{
		.box{
			background: $mgray!important;
		&.empty{
			background: $black!important;
			.box-top,
			.box-bottom{
				opacity: .7;
			}
		}}
	// }

	#main,
	#main > *{
		background: $dgray;
	}

	input::placeholder{
		color: $whiteTransparent60;
	}
}}
